# Preprocessing techniques

In [22]:
# importing library
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
%matplotlib inline

In [23]:
# reading data
train = pd.read_csv(r'D:\my projects\train sales.csv')

In [24]:
train.head(20)

    id        date  store_nbr               family  sales  onpromotion
0    0  2013-01-01          1           AUTOMOTIVE    0.0            0
1    1  2013-01-01          1            BABY CARE    0.0            0
2    2  2013-01-01          1               BEAUTY    0.0            0
3    3  2013-01-01          1            BEVERAGES    0.0            0
4    4  2013-01-01          1                BOOKS    0.0            0
5    5  2013-01-01          1         BREAD/BAKERY    0.0            0
6    6  2013-01-01          1          CELEBRATION    0.0            0
7    7  2013-01-01          1             CLEANING    0.0            0
8    8  2013-01-01          1                DAIRY    0.0            0
9    9  2013-01-01          1                 DELI    0.0            0
10  10  2013-01-01          1                 EGGS    0.0            0
11  11  2013-01-01          1         FROZEN FOODS    0.0            0
12  12  2013-01-01          1            GROCERY I    0.0            0
13  13  2013-01-01          1           GROCERY II    0.0            0
14  14  2013-01-01          1             HARDWARE    0.0            0
15  15  2013-01-01          1   HOME AND KITCHEN I    0.0            0
16  16  2013-01-01          1  HOME AND KITCHEN II    0.0            0
17  17  2013-01-01          1      HOME APPLIANCES    0.0            0
18  18  2013-01-01          1            HOME CARE    0.0            0
19  19  2013-01-01          1           LADIESWEAR    0.0            0

In [25]:
train.shape

(3000888, 6)

In [26]:
train.size

18005328

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 137.4+ MB

In [28]:
train.isnull().sum()

id             0
date           0
store_nbr      0
family         0
sales          0
onpromotion    0
dtype: int64

In [29]:
train['date'].unique

<bound method Series.unique of 0          2013-01-01
1          2013-01-01
2          2013-01-01
3          2013-01-01
4          2013-01-01
              ...
3000883    2017-08-15
3000884    2017-08-15
3000885    2017-08-15
3000886    2017-08-15
3000887    2017-08-15
Name: date, Length: 3000888, dtype: object>

In [30]:
train['store_nbr'].unique()

array([ 1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,  2, 20, 21, 22, 23, 24,
       25, 26, 27, 28, 29,  3, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,  4,
       40, 41, 42, 43, 44, 45, 46, 47, 48, 49,  5, 50, 51, 52, 53, 54,  6,
        7,  8,  9], dtype=int64)

In [31]:
pd.get_dummies(train['family'],drop_first=True).shape

(3000888, 32)

In [32]:
train_sales = train['family'].sort_values(ascending=True).unique()
train_sales

array(['AUTOMOTIVE', 'BABY CARE', 'BEAUTY', 'BEVERAGES', 'BOOKS',
       'BREAD/BAKERY', 'CELEBRATION', 'CLEANING', 'DAIRY', 'DELI', 'EGGS',
       'FROZEN FOODS', 'GROCERY I', 'GROCERY II', 'HARDWARE',
       'HOME AND KITCHEN I', 'HOME AND KITCHEN II', 'HOME APPLIANCES',
       'HOME CARE', 'LADIESWEAR', 'LAWN AND GARDEN', 'LINGERIE',
       'LIQUOR,WINE,BEER', 'MAGAZINES', 'MEATS', 'PERSONAL CARE',
       'PET SUPPLIES', 'PLAYERS AND ELECTRONICS', 'POULTRY',
       'PREPARED FOODS', 'PRODUCE', 'SCHOOL AND OFFICE SUPPLIES',
       'SEAFOOD'], dtype=object)

In [33]:
train_sales = train['date'].sort_values(ascending=True).unique()
train_sales

array(['2013-01-01', '2013-01-02', '2013-01-03', ..., '2017-08-13',
       '2017-08-14', '2017-08-15'], dtype=object)

In [34]:
pd.get_dummies(train['date'],drop_first=True).shape

(3000888, 1683)

## Label Encoding

In [35]:
label_encoder = LabelEncoder()
train['date'] = label_encoder.fit_transform(train['date'])

In [41]:
label_encoder = LabelEncoder()
train['family'] = label_encoder.fit_transform(train['family'].astype(int))

### Scaling

In [47]:
data = train['family']

train['family'] = data[0:]/(max(data)-min(data))
print(train['family'])

0          0.00000
1          0.03125
2          0.06250
3          0.09375
4          0.12500
            ...
3000883    0.87500
3000884    0.90625
3000885    0.93750
3000886    0.96875
3000887    1.00000
Name: family, Length: 3000888, dtype: float64